* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans';
}

.navbar {
    background: #131313;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    font-family: 'Khumb Sans';
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.75rem;
    font-family: 'Amita';
    padding-right: 800px;
}

.navbar__menu {
    font-size: 1rem;
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 00px; 
}

#sk9 {
    padding-left: 50px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.buttonsu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #ff5744;
    color: #fff;
}

.buttonsi {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #a01010;
    color: #fff;
}

.buttonsu:hover {
    background: #4837ff;
    transition: all 0.3s ease;
}

.buttonsi:hover {
    background: #1500fa;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #f77062;
    transition: all 0.3s ease;
}

@media screen and (max-width:960px) {
    .navbar__container {
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        top: 1000px;
        opacity: 0;
        position: absolute;
        transition: all 0.5s ease;
        height: 60vh;
        z-index: -1;
        background: #131313;
        padding-bottom: 0;
    }

    .navbar__menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 70vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
        height: 75px;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .buttonsu {
        display: flex;
        align-items: left;
        justify-content: center;
        width: 20%;
        height: 60px;
        margin:  0;
        border-radius: 16px;
        font-size: 1.3rem;
    }
    .buttonsi {
        display: flex;
        align-items: right;
        width: 20%;
        height: 60px;
        margin: 0;
        border-radius: 16px;
        font-size: 1.3rem;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);

    }
    
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);

    }
}

/* Hero Section CSS*/
.main {
    background-color: #141414;
}

.main {
    background-image: linear-gradient(0deg, rgba(14,0,255,0) 70%, rgba(19,19,19,1) 99%, rgba(19,19,19,1) 100%), url("images/koreaxxx.png");
    background-size: cover;
}