::-webkit-scrollbar{
    background-color:#131313;
    width: 0.9em;
}

::-webkit-scrollbar-track {
    background: hsl(0, 100%, 8%);
    border-radius: 100vw;
    margin-block: .2em;
    
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 97%, 14%);
    border: .2em solid hsl(0, 79%, 6%);
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 79%, 6%);
}



@supports (scrollbar-color: red blue) {
    * {
        scrollbar-color:  hsl(120 75% 50% / 1)  hsl(120 75% 50% / 1);
        scrollbar-width: thin;
    }
}